  body {
    background-color:rgb(94, 137, 174);
  }

  .dark {
    background-color: #333;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top:20px;
  }

  canvas {
    padding: 0;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
