  body {
    background-color:rgb(94, 137, 174);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  canvas {
    padding: 0;
    margin: auto;
    display: block;
<<<<<<< HEAD
}

.content{
  margin-top: 100px;
}
=======
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
>>>>>>> 2044b2e791f96210200929372b14d99c7f3517eb
